body {
  background-color: #c9b5ab;
  font-family: 'PT Serif', serif;
  line-height: 1.5;
}

h1, h2, h3 {
  font-family: 'PT Sans', sans-serif;
  color: #3f1622;
}

.nav {
  list-style-type: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav a{
    color: #8f2440;
    text-decoration: none;
}

ul {
  list-style-type: circle;
}
